.text-card-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    cursor: pointer;
    
}
body{
    background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.card-img-top {
    height: 195px; 
    border-radius: 40px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.card {
    transition: transform .1s; 
    border-radius: 40px;
    border: hidden 2px solid;
}
 
.card:hover {
    transform: scale(1.1); 
    border: greenyellow 2px solid;
}

.container{
padding: 15px 15px;

}
.card-img{
    width: 350px;
    height: 273px;
}